In [1]:
import aggregator as ag

aggregator = ag.Aggregator(join_method='outer')
df = aggregator.merge_data()
df.to_csv('data/combined_data.csv')

merged climate data
merged conflict data
merged health data
merged malnutrition data
merged market data
merged movement data

In [5]:
df

,Region,District,CDI,Month,Year,River Level,NDVI,Rainfall,Water Price,Conflict Fatalities,...,Cost Min Basket,Goat Price,Goat to Cereal,Maize Price,Rice Price,Sorghum Price,Wage Price,Wage to Cereal,Departures,Arrivals
0,Awdal,Borama,1.05,Jan,2018,NaN,0.168,4.342,4000.0,0.0,...,"1,090,175.0","297,750",57.0,"4,000","5,200","3,200","57,400",11.0,6.0,199.0
1,Awdal,Baki,0.62,Jan,2018,NaN,0.132,6.065,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0
2,Awdal,Lughaye,0.63,Jan,2018,NaN,0.047,7.915,NaN,0.0,...,NaN,"300,000",50.0,NaN,"7,000","6,000","90,000",15.0,253.0,24.0
3,Awdal,Zeylac,1.10,Jan,2018,NaN,0.052,8.121,6000.0,0.0,...,"1,160,475.0","410,000",59.0,"6,000","7,000","5,500","100,000",14.0,NaN,68.0
4,Woqooyi Galbeed,Hargeysa,0.78,Jan,2018,NaN,0.000,2.247,11000.0,0.0,...,"1,366,665.0","460,000",92.0,"6,000","5,000","5,000","70,000",14.0,400.0,663.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342097,Middle Juba,Saakow,NaN,Jun,2003,NaN,NaN,18.739,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342098,Lower Juba,Kismaayo,NaN,Jun,2003,NaN,NaN,62.207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342099,Lower Juba,Afmadow,NaN,Jun,2003,NaN,NaN,33.851,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342100,Lower Juba,Badhaadhe,NaN,Jun,2003,NaN,NaN,58.853,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342101,Lower Juba,Jamaame,NaN,Jun,2003,NaN,NaN,88.854,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN